.template {
  &__container {
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }

  &__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
  }

  &__content {
    padding: 1rem;
    box-sizing: border-box;
  }
}